root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
max_line_length = 480
insert_final_newline = true
trim_trailing_whitespace = false

[*.cs]
csharp_new_line_before_open_brace = none
csharp_indent_case_contents = true
csharp_space_after_cast = false

dotnet_diagnostic.cs8981.severity = none
